In [2]:
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Read the CSV file into a DataFrame
df = pd.read_csv('migration2.csv')

# Display the first 5 rows
print(df.head().to_markdown(index=False, numalign="left", stralign="left"))

# Print the column names and their data types
print(df.info())

| source    | target   | Year   | v    |
|:----------|:---------|:-------|:-----|
| Australia | Germany  | 2003   | 1541 |
| Australia | Germany  | 2004   | 1498 |
| Australia | Germany  | 2005   | 1485 |
| Australia | Germany  | 2006   | 1706 |
| Australia | Germany  | 2007   | 1830 |
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1764 entries, 0 to 1763
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   source  1764 non-null   object
 1   target  1764 non-null   object
 2   Year    1764 non-null   int64
 3   v       1764 non-null   int64
dtypes: int64(2), object(2)
memory usage: 55.3+ KB
None

In [3]:
# Calculate the sum of `v` column for each `source` and `target` pair
df_out = df.groupby(['source', 'target'])['v'].sum().reset_index()

# Rename the `v` column to `Total Migrants`
df_out = df_out.rename(columns={'v': 'Total Migrants'})

# Sort the values by `Total Migrants` in descending order
df_out = df_out.sort_values(by='Total Migrants', ascending=False)

# Display the first 5 rows
print(df_out.head().to_markdown(index=False, numalign="left", stralign="left"))

| source                        | target   | Total Migrants   |
|:------------------------------|:---------|:-----------------|
| China                         | Japan    | 1201329          |
| China, incl. Hong Kong, Macau | Japan    | 704361           |
| Italy                         | Germany  | 561897           |
| United States                 | Japan    | 356219           |
| United States                 | Germany  | 306397           |

In [4]:
# Save the processed DataFrame to a new CSV file
df_out.to_csv('total_migrants.csv', index=False)

In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Read the CSV file into a DataFrame
df_total_migrants = pd.read_csv('total_migrants.csv')

# Replace the values 'China, incl. Hong Kong, Macau' and 'Chinese Taipei' in the `source` column with 'China'
df_total_migrants['source'] = df_total_migrants['source'].replace(['China, incl. Hong Kong, Macau', 'Chinese Taipei'], 'China')

# Aggregate the data on `source` and `target` columns by summing the `Total Migrants`
df_agg = df_total_migrants.groupby(['source', 'target'])['Total Migrants'].sum().reset_index()

# Sort the values by `Total Migrants` in descending order
df_agg = df_agg.sort_values(by='Total Migrants', ascending=False)

# Display the updated DataFrame
print(df_agg.to_markdown(index=False, numalign="left", stralign="left"))

| source         | target         | Total Migrants   |
|:---------------|:---------------|:-----------------|
| China          | Japan          | 2000832          |
| Italy          | Germany        | 561897           |
| China          | Germany        | 452142           |
| United States  | Japan          | 356219           |
| United States  | Germany        | 306397           |
| China          | Spain          | 260779           |
| China          | United Kingdom | 245000           |
| United Kingdom | Spain          | 226506           |
| France         | Germany        | 221354           |
| Russia         | Germany        | 218891           |
| India          | Germany        | 217355           |
| China          | New Zealand    | 203104           |
| Australia      | United Kingdom | 193000           |
| India          | United Kingdom | 178000           |
| United Kingdom | Germany        | 159026           |
| Brazil         | Spain          | 148612           |
| Italy          | Spain          | 147868           |
| Brazil         | Japan          | 138976           |
| Germany        | Netherlands    | 132682           |
| United States  | United Kingdom | 125000           |
| United Kingdom | United Kingdom | 125000           |
| Germany        | Spain          | 121739           |
| Japan          | Germany        | 109389           |
| France         | Spain          | 107862           |
| China          | Netherlands    | 104528           |
| United Kingdom | New Zealand    | 103294           |
| United Kingdom | Japan          | 99912            |
| Brazil         | Germany        | 93772            |
| United Kingdom | Netherlands    | 85104            |
| Australia      | New Zealand    | 82719            |
| France         | United Kingdom | 77000            |
| Germany        | Japan          | 75702            |
| Germany        | United Kingdom | 74000            |
| United Kingdom | Australia      | 73043            |
| Russia         | Japan          | 66240            |
| China          | Australia      | 62815            |
| United States  | Netherlands    | 61466            |
| Russia         | Spain          | 60374            |
| France         | Japan          | 58730            |
| United States  | Spain          | 56106            |
| India          | New Zealand    | 54718            |
| Italy          | Netherlands    | 54318            |
| France         | Netherlands    | 52112            |
| India          | Japan          | 51850            |
| Italy          | United Kingdom | 50000            |
| India          | Netherlands    | 49965            |
| United States  | New Zealand    | 47943            |
| Canada         | Germany        | 47443            |
| China          | Italy          | 46809            |
| Australia      | Japan          | 45268            |
| India          | Spain          | 40308            |
| Canada         | Japan          | 35860            |
| Japan          | United Kingdom | 35000            |
| Australia      | Germany        | 34344            |
| Italy          | Japan          | 33214            |
| Canada         | United Kingdom | 31000            |
| Japan          | New Zealand    | 27247            |
| Japan          | Netherlands    | 23013            |
| Germany        | Italy          | 21121            |
| India          | Italy          | 20601            |
| India          | Australia      | 20481            |
| France         | New Zealand    | 20137            |
| Germany        | New Zealand    | 18988            |
| Australia      | Netherlands    | 14812            |
| Canada         | Netherlands    | 14453            |
| Canada         | New Zealand    | 14285            |
| Brazil         | United Kingdom | 14000            |
| France         | Italy          | 13794            |
| Brazil         | Netherlands    | 13745            |
| Brazil         | Italy          | 12932            |
| United States  | Australia      | 12152            |
| United Kingdom | Italy          | 11104            |
| Russia         | Netherlands    | 10648            |
| Brazil         | New Zealand    | 10010            |
| United States  | Italy          | 8340             |
| Japan          | Spain          | 7911             |
| Canada         | Australia      | 6028             |
| Italy          | New Zealand    | 5977             |
| Canada         | Spain          | 5359             |
| Japan          | Italy          | 5055             |
| Germany        | Australia      | 4910             |
| Russia         | Italy          | 4562             |
| Italy          | Australia      | 3895             |
| Russia         | New Zealand    | 3707             |
| France         | Australia      | 3573             |
| Australia      | Spain          | 2787             |
| Russia         | Australia      | 1980             |
| Japan          | Australia      | 1609             |
| Brazil         | Australia      | 1592             |
| Australia      | Italy          | 1204             |
| Canada         | Italy          | 1100             |
| Japan          | Japan          | 0                |
| Italy          | Italy          | 0                |

/var/folders/53/f_mlkwxj7xd3c9929h9ychkw0000gq/T/ipykernel_17766/1179220113.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# Save the aggregated DataFrame to a new CSV file
df_agg.to_csv('total_migrants_agg.csv', index=False)